* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 85rem;
    margin: auto;
    padding: 40px 0;
    padding-left: initial;
    padding-bottom: 40px;
    padding-right: initial;
    padding-top: 40px;
    overflow: hidden;
}

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 40px;
    gap: 40px;
    padding-bottom: 40px;
 
}

.hero-small {
    width: 100%;
    max-width: 100%;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    height: fit-content;
}

.text {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: end;
    padding: 0 46px 32px 32px;
    position: relative;
    z-index: 1;
    bottom: 100px;
    color: white;
}

.girl_perl,
.mona_lisa {
    height: 100%;
    width: 100%;
    max-width: none;
    object-fit: cover; 
    object-position: center; 
}

div {
    unicode-bidi: isolate;
}